openapi: 3.0.1
info:
  title: Client API
  description: This is the OpenAPI specification for the ClassCharts API used by the StudentClient.
  version: 28.7.1
servers:
  - url: https://www.classcharts.com/apiv2parent
    description: Parent API
  - url: https://www.classcharts.com/apiv2student
    description: Student API

paths:
  /behaviour/{studentId}:
    get:
      operationId: list-behaviour
      summary: List Behaviour
      description: Gets the student's behaviour.
      parameters:
        - name: studentId
          in: path
          required: true
          schema:
            type: integer
        - name: from
          in: query
          schema:
            type: string
            format: date
        - name: to
          in: query
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Array of behaviour points
          content:
            application/json:
              schema:
                $ref: "./schemas/behaviour/behaviour_response.yaml"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "./schemas/_common/error_response.yaml"

  /activity/{studentId}:
    get:
      operationId: list-activity
      summary: List Activity
      description: >
        The `from` field does not work as you would expect, since this endpoint is meant for pagination on the home page, Classcharts only returns a 50 points from the `to` field.


        To get more points you will need to make use of the `last_id` field. Our [JavaScript Library](https://github.com/classchartsapi/classcharts-api-js) provides a `client.getFullActivity()` helper function to do this for you.

      parameters:
        - name: studentId
          in: path
          required: true
          schema:
            type: integer
        - name: from
          in: query
          schema:
            type: string
            format: date
        - name: to
          in: query
          schema:
            type: string
            format: date
        - name: last_id
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Array of activity points
          content:
            application/json:
              schema:
                $ref: "./schemas/activity/activity_response.yaml"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "./schemas/_common/error_response.yaml"

  /homeworks/{studentId}:
    get:
      operationId: list-homeworks
      summary: List Homeworks
      description: Gets the student's homeworks

      parameters:
        - name: studentId
          in: path
          required: true
          schema:
            type: integer
        - name: display_date
          in: query
          schema:
            type: string
            enum:
              - issue_date
              - due_date
            default: issue_date
        - name: from
          in: query
          schema:
            type: string
            format: date
        - name: to
          in: query
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Array of homeworks
          content:
            application/json:
              schema:
                $ref: "./schemas/homework/homeworks_response.yaml"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "./schemas/_common/error_response.yaml"

  /timetable/{studentId}:
    get:
      operationId: list-lessons
      summary: List Lessons
      description: Gets the student's lessons for a given date
      parameters:
        - name: studentId
          in: path
          required: true
          schema:
            type: integer
        - name: date
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Array of lessons
          content:
            application/json:
              schema:
                $ref: "./schemas/lesson/lessons_response.yaml"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "./schemas/_common/error_response.yaml"

  /eventbadges/{studentId}:
    get:
      operationId: list-badges
      summary: List Badges
      description: Gets the student's earned badges
      parameters:
        - name: studentId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Array of badges
          content:
            application/json:
              schema:
                $ref: "./schemas/badge/badges_response.yaml"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "./schemas/_common/error_response.yaml"

  /announcements/{studentId}:
    get:
      operationId: list-announcements
      summary: List Announcements
      description: Gets the student's announcements
      parameters:
        - name: studentId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Array of announcements
          content:
            application/json:
              schema:
                $ref: "./schemas/announcement/announcements_response.yaml"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "./schemas/_common/error_response.yaml"

  /detentions/{studentId}:
    get:
      operationId: list-detentions
      summary: List Detentions
      description: Gets the student's detentions
      parameters:
        - name: studentId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Array of detentions
          content:
            application/json:
              schema:
                $ref: "./schemas/detention/detentions_response.yaml"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "./schemas/_common/error_response.yaml"

  /attendance/{studentId}:
    get:
      operationId: get-attendance
      summary: List Attendance
      description: Gets the student's attendance
      parameters:
        - name: studentId
          in: path
          required: true
          schema:
            type: integer
        - name: from
          in: query
          schema:
            type: string
            format: date
        - name: to
          in: query
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Array of attendance dates
          content:
            application/json:
              schema:
                $ref: "./schemas/attendance/attendance_response.yaml"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "./schemas/_common/error_response.yaml"

  /customfields/{studentId}:
    get:
      operationId: list-pupil-fields
      summary: List Pupil Fields
      description: Gets the student's pupil fields
      parameters:
        - name: studentId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Array of custom fields
          content:
            application/json:
              schema:
                $ref: "./schemas/pupil_field/pupil_fields_response.yaml"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "./schemas/_common/error_response.yaml"

  /getacademicreports:
    get:
      operationId: list-academic-reports
      summary: List Academic Reports
      description: Get list of academic reports
      parameters:
        - name: studentId
          in: query
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "./schemas/academic_report/academic_reports_response.yaml"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "./schemas/_common/error_response.yaml"

  /getacademicreport/{id}:
    get:
      operationId: get-academic-report
      summary: Get Academic Report
      description: Get academic report by ID
      parameters:
        - name: studentId
          in: query
          required: true
          schema:
            type: integer
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: The ID of the academic report
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "./schemas/academic_report/academic_report_response.yaml"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "./schemas/_common/error_response.yaml"
