openapi: 3.0.1
info:
  title: Client API
  description: This is the OpenAPI specification for the ClassCharts API used by the StudentClient.
  version: 28.7.1
servers:
  - url: https://www.classcharts.com/apiv2parent
    description: Parent API
  - url: https://www.classcharts.com/apiv2student
    description: Student API

paths:
  /behaviour/{studentId}:
    get:
      summary: Behaviour
      description: Gets the student's behaviour.
      parameters:
        - name: studentId
          in: path
          required: true
          schema:
            type: integer
        - name: from
          in: query
          schema:
            type: string
            format: date
        - name: to
          in: query
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Array of behaviour points
          content:
            application/json:
              schema:
                $ref: "./schemas/behaviourResponse.yaml"
        "401":
          description: Unauthorized

  /activity/{studentId}:
    get:
      summary: Activity
      description: >
        The `from` field does not work as you would expect, since this endpoint is meant for pagination on the home page, Classcharts only returns a 50 points from the `to` field.


        To get more points you will need to make use of the `last_id` field. Our [JavaScript Library](https://github.com/classchartsapi/classcharts-api-js) provides a `client.getFullActivity()` helper function to do this for you.

      parameters:
        - name: studentId
          in: path
          required: true
          schema:
            type: integer
        - name: from
          in: query
          schema:
            type: string
            format: date
        - name: to
          in: query
          schema:
            type: string
            format: date
        - name: last_id
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Array of activity points
          content:
            application/json:
              schema:
                $ref: "./schemas/activityResponse.yaml"
        "401":
          description: Unauthorized

  /homeworks/{studentId}:
    get:
      summary: Homeworks
      description: Gets the student's homeworks

      parameters:
        - name: studentId
          in: path
          required: true
          schema:
            type: integer
        - name: display_date
          in: query
          schema:
            type: string
            enum:
              - issue_date
              - due_date
            default: issue_date
        - name: from
          in: query
          schema:
            type: string
            format: date
        - name: to
          in: query
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Array of homeworks
          content:
            application/json:
              schema:
                $ref: "./schemas/homeworksResponse.yaml"
        "401":
          description: Unauthorized

  /timetable/{studentId}:
    get:
      summary: Lessons
      description: Gets the student's lessons for a given date
      parameters:
        - name: studentId
          in: path
          required: true
          schema:
            type: integer
        - name: date
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Array of lessons
          content:
            application/json:
              schema:
                $ref: "./schemas/lessonsResponse.yaml"
        "401":
          description: Unauthorized

  /eventbadges/{studentId}:
    get:
      summary: Badges
      description: Gets the student's earned badges
      parameters:
        - name: studentId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Array of badges
          content:
            application/json:
              schema:
                $ref: "./schemas/badgesResponse.yaml"
        "401":
          description: Unauthorized

  /announcements/{studentId}:
    get:
      summary: Announcements
      description: Gets the student's announcements
      parameters:
        - name: studentId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Array of announcements
          content:
            application/json:
              schema:
                $ref: "./schemas/announcementsResponse.yaml"
        "401":
          description: Unauthorized

  /detentions/{studentId}:
    get:
      summary: Detentions
      description: Gets the student's detentions
      parameters:
        - name: studentId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Array of detentions
          content:
            application/json:
              schema:
                $ref: "./schemas/detentionsResponse.yaml"
        "401":
          description: Unauthorized

  /attendance/{studentId}:
    get:
      summary: Attendance
      description: Gets the student's attendance
      parameters:
        - name: studentId
          in: path
          required: true
          schema:
            type: integer
        - name: from
          in: query
          schema:
            type: string
            format: date
        - name: to
          in: query
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Array of attendance dates
          content:
            application/json:
              schema:
                $ref: "./schemas/attendanceResponse.yaml"
        "401":
          description: Unauthorized

  /customfields/{studentId}:
    get:
      summary: Pupil fields
      description: Gets the student's pupil fields
      parameters:
        - name: studentId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Array of custom fields
          content:
            application/json:
              schema:
                $ref: "./schemas/pupilFieldsResponse.yaml"
        "401":
          description: Unauthorized
