openapi: 3.0.1
info:
  title: Client API
  description: This is the OpenAPI specification for the ClassCharts API used by the StudentClient.
  version: 1.0.0
servers:
  - url: https://www.classcharts.com/apiv2student
    description: Production API server

paths:
  /ping:
    post:
      summary: Revalidate session
      description: >
        Gets basic information about the logged in student and what access they have.  
        This endpoint is also used for revalidating your session id (authentication token).

        To get your new authentication token, call the endpoint, and use the token in the returned body (`body.meta.session_id`) as your new authentication token.


        Access tokens should be refreshed every 180 seconds.

      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "./schemas/pingRequest.yaml"
      responses:
        "200":
          description: Session ID revalidated
          content:
            application/json:
              schema:
                $ref: "./schemas/pingResponse.yaml"
        "401":
          description: Unauthorized

  /behaviour/{studentId}:
    get:
      summary: Behaviour
      description: Gets the student's behaviour.
      parameters:
        - name: studentId
          in: path
          required: true
          schema:
            type: integer
        - name: from
          in: query
          schema:
            type: string
            format: date
        - name: to
          in: query
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Array of behaviour points
          content:
            application/json:
              schema:
                $ref: "./schemas/behaviourResponse.yaml"
        "401":
          description: Unauthorized

  /activity/{studentId}:
    get:
      summary: Activity
      description: >
        The `from` field does not work as you would expect, since this endpoint is meant for pagination on the home page, Classcharts only returns a 50 points from the `to` field.


        To get more points you will need to make use of the `last_id` field. Our [JavaScript Library](https://github.com/classchartsapi/classcharts-api-js) provides a `client.getFullActivity()` helper function to do this for you.

      parameters:
        - name: studentId
          in: path
          required: true
          schema:
            type: integer
        - name: from
          in: query
          schema:
            type: string
            format: date
        - name: to
          in: query
          schema:
            type: string
            format: date
        - name: last_id
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Array of activity points
          content:
            application/json:
              schema:
                $ref: "./schemas/activityResponse.yaml"
        "401":
          description: Unauthorized

  /homeworks/{studentId}:
    get:
      summary: Homeworks
      description: Gets the student's homeworks

      parameters:
        - name: studentId
          in: path
          required: true
          schema:
            type: integer
        - name: display_date
          in: query
          schema:
            type: string
            enum:
              - issue_date
              - due_date
            default: issue_date
        - name: from
          in: query
          schema:
            type: string
            format: date
        - name: to
          in: query
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Array of homeworks
          content:
            application/json:
              schema:
                $ref: "./schemas/homeworksResponse.yaml"
        "401":
          description: Unauthorized

  /timetable/{studentId}:
    get:
      summary: Lessons
      description: Gets the student's lessons for a given date
      parameters:
        - name: studentId
          in: path
          required: true
          schema:
            type: integer
        - name: date
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Array of lessons
          content:
            application/json:
              schema:
                $ref: "./schemas/lessonsResponse.yaml"
        "401":
          description: Unauthorized

  /eventbadges/{studentId}:
    get:
      summary: Badges
      description: Gets the student's earned badges
      parameters:
        - name: studentId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Array of badges
          content:
            application/json:
              schema:
                $ref: "./schemas/badgesResponse.yaml"
        "401":
          description: Unauthorized

  /announcements/{studentId}:
    get:
      summary: Announcements
      description: Gets the student's announcements
      parameters:
        - name: studentId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Array of announcements
          content:
            application/json:
              schema:
                $ref: "./schemas/announcementsResponse.yaml"
        "401":
          description: Unauthorized

  /detentions/{studentId}:
    get:
      summary: Detentions
      description: Gets the student's detentions
      parameters:
        - name: studentId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Array of detentions
          content:
            application/json:
              schema:
                $ref: "./schemas/detentionsResponse.yaml"
        "401":
          description: Unauthorized

  /attendance/{studentId}:
    get:
      summary: Attendance
      description: Gets the student's attendance
      parameters:
        - name: studentId
          in: path
          required: true
          schema:
            type: integer
        - name: from
          in: query
          schema:
            type: string
            format: date
        - name: to
          in: query
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Array of attendance dates
          content:
            application/json:
              schema:
                $ref: "./schemas/attendanceResponse.yaml"
        "401":
          description: Unauthorized

  /customfields/{studentId}:
    get:
      summary: Pupil fields
      description: Gets the student's pupil fields
      parameters:
        - name: studentId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Array of custom fields
          content:
            application/json:
              schema:
                $ref: "./schemas/pupilFieldsResponse.yaml"
        "401":
          description: Unauthorized

components:
  schemas:
    PingResponse:
      $ref: "./schemas/pingResponse.yaml"
    Student:
      $ref: "./schemas/student.yaml"
    BehaviourResponse:
      $ref: "./schemas/behaviourResponse.yaml"
    BehaviourTimelinePoint:
      $ref: "./schemas/behaviourTimelinePoint.yaml"
    HomeworksResponse:
      $ref: "./schemas/homeworksResponse.yaml"
    Homework:
      $ref: "./schemas/homework.yaml"
    StudentHomeworkAttachment:
      $ref: "./schemas/studentHomeworkAttachment.yaml"
    TeacherValidatedHomeworkAttachment:
      $ref: "./schemas/teacherValidatedHomeworkAttachment.yaml"
    TeacherValidatedHomeworkLink:
      $ref: "./schemas/teacherValidatedHomeworkLink.yaml"
    LessonsResponse:
      $ref: "./schemas/lessonsResponse.yaml"
    Lesson:
      $ref: "./schemas/lesson.yaml"
    PeriodMeta:
      $ref: "./schemas/periodMeta.yaml"
    BadgesResponse:
      $ref: "./schemas/badgesResponse.yaml"
    Badge:
      $ref: "./schemas/badge.yaml"
    PupilEvent:
      $ref: "./schemas/pupilEvent.yaml"
    AnnouncementsResponse:
      $ref: "./schemas/announcementsResponse.yaml"
    Announcement:
      $ref: "./schemas/announcement.yaml"
    AnnouncementConsent:
      $ref: "./schemas/announcementConsent.yaml"
    DetentionsResponse:
      $ref: "./schemas/detentionsResponse.yaml"
    Detention:
      $ref: "./schemas/detention.yaml"
    AttendanceResponse:
      $ref: "./schemas/attendanceResponse.yaml"
    AttendancePeriod:
      $ref: "./schemas/attendancePeriod.yaml"
    PupilFieldsResponse:
      $ref: "./schemas/pupilFieldsResponse.yaml"
    ActivityResponse:
      $ref: "./schemas/activityResponse.yaml"
