openapi: 3.0.1
info:
  title: Parent Client API
  description: This is the OpenAPI specification for the ClassCharts API used by the ParentClient.
  version: 28.7.1
servers:
  - url: https://www.classcharts.com/apiv2parent
    description: Parent API

components:
  securitySchemes:
    basic_auth:
      $ref: "./schemas/auth/basic_auth.yaml#/basic_auth"

paths:
  /ping:
    post:
      operationId: ping
      summary: Parent Ping
      description: >
        Gets basic information about the logged in parent and what access they have.  

        This endpoint is also used for revalidating your session id (authentication token).
      security:
        - basic_auth: []

      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "./schemas/auth/ping_request.yaml"
      responses:
        "200":
          description: Parent information & session_id (if requested)
          content:
            application/json:
              schema:
                $ref: "./schemas/auth/parent_ping_response.yaml"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "./schemas/_common/error_response.yaml"
      x-codeSamples:
        - lang: js
          label: JavaScript SDK
          source: |
            import { ParentClient } from "classcharts-api";

            const client = new ParentClient("username", "password");
            await client.login();

            await client.getStudentInfo();

  /pupils:
    get:
      operationId: list-pupils
      summary: List Pupils
      description: Get a list of pupils connected to this parent's account
      security:
        - basic_auth: []
      responses:
        "200":
          description: Array of pupils
          content:
            application/json:
              schema:
                $ref: "./schemas/pupil/list_pupils_response.yaml"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "./schemas/_common/error_response.yaml"
      x-codeSamples:
        - lang: js
          label: JavaScript SDK
          source: |
            import { ParentClient } from "classcharts-api";

            const client = new ParentClient("username", "password");
            await client.login();

            await client.getPupils();

  /parentbehaviours/{studentId}:
    post:
      operationId: list-parent-behaviour
      summary: List Parent Behaviour
      description: >
        Lists the behaviour points for a pupil.
      security:
        - basic_auth: []
      parameters:
        - name: studentId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: List of behaviour points
          content:
            application/json:
              schema:
                $ref: "./schemas/parent_behaviour/list_response.yaml"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "./schemas/_common/error_response.yaml"

  /deleteparentbehaviour/{studentId}:
    post:
      operationId: delete-parent-behaviour
      summary: Delete Parent Behaviour Point
      description: >
        Delets a behaviour point from a pupil's record.
      security:
        - basic_auth: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "./schemas/parent_behaviour/delete_request.yaml"
      parameters:
        - name: studentId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Behaviour point deleted
          content:
            application/json:
              schema:
                $ref: "./schemas/_common/empty_response.yaml"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "./schemas/_common/error_response.yaml"

  /addparentbehaviour/{studentId}:
    post:
      operationId: add-parent-behaviour
      summary: Add Parent Behaviour Point
      description: >
        Adds a behaviour point to a pupil's record.
      security:
        - basic_auth: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "./schemas/parent_behaviour/add_request.yaml"
      parameters:
        - name: studentId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Behaviour point added or Daily limit reached
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "./schemas/parent_behaviour/add_response.yaml"
                  - $ref: "./schemas/parent_behaviour/add_limit_error_response.yaml"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "./schemas/_common/error_response.yaml"

  /login:
    post:
      operationId: login
      summary: Parent Login
      description: >
        Logs into to a parent account.

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "./schemas/auth/parent_login_request.yaml"
      responses:
        "200":
          description: Successful authentication request (not necessarily successful login)
          content:
            application/json:
              schema:
                $ref: "./schemas/auth/parent_login_response.yaml"
      x-codeSamples:
        - lang: js
          label: JavaScript SDK
          source: |
            import { ParentClient } from "classcharts-api";

            const client = new ParentClient("username", "password");
            await client.login();

  /password:
    post:
      operationId: change-password
      summary: Change Password
      description: Changes the login password for the current parent account
      security:
        - basic_auth: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                current:
                  type: string
                new:
                  type: string
                repeat:
                  type: string
      responses:
        "200":
          description: Password changed
          content:
            application/json:
              schema:
                $ref: "./schemas/account/change_password_response.yaml"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "./schemas/_common/error_response.yaml"
      x-codeSamples:
        - lang: js
          label: JavaScript SDK
          source: |
            import { ParentClient } from "classcharts-api";

            const client = new ParentClient("username", "oldPassword");
            await client.login();

            await client.changePassword("oldPassword", "newPassword");
