openapi: 3.0.1
info:
  title: Parent Client API
  description: This is the OpenAPI specification for the ClassCharts API used by the ParentClient.
  version: 28.7.1
servers:
  - url: https://www.classcharts.com/apiv2parent
    description: Parent API

paths:
  /ping:
    post:
      summary: Parent Ping
      description: >
        Gets basic information about the logged in parent and what access they have.  
        This endpoint is also used for revalidating your session id (authentication token).

        To get your new authentication token, call the endpoint, and use the token in the returned body (`body.meta.session_id`) as your new authentication token.


        Access tokens should be refreshed every 180 seconds.

      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "./schemas/auth/ping_request.yaml"
      responses:
        "200":
          description: Parent information & session_id (if requested)
          content:
            application/json:
              schema:
                $ref: "./schemas/auth/parent_ping_response.yaml"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "./schemas/_common/error_response.yaml"

  /pupils:
    get:
      summary: List Pupils
      description: Get a list of pupils connected to this parent's account
      responses:
        "200":
          description: Array of pupils
          content:
            application/json:
              schema:
                $ref: "./schemas/pupil/list_pupils_response.yaml"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "./schemas/_common/error_response.yaml"

  /login:
    post:
      summary: Parent Login
      description: >
        Logs into to a parent account.


        This endpoint is used to authenticate a parent account. If the login is successful, a session ID will be returned in the response. This session ID should be used in subsequent requests to authenticate the parent account.

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "./schemas/auth/parent_login_request.yaml"
      responses:
        "200":
          description: Successful authentication request (not necessarily successful login)
          content:
            application/json:
              schema:
                $ref: "./schemas/auth/parent_login_response.yaml"

  /password:
    post:
      summary: Change Password
      description: Changes the login password for the current parent account
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                current:
                  type: string
                new:
                  type: string
                repeat:
                  type: string
      responses:
        "200":
          description: Password changed
          content:
            application/json:
              schema:
                $ref: "./schemas/account/change_password_response.yaml"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "./schemas/_common/error_response.yaml"
