openapi: 3.0.1
info:
  title: Parent Client API
  description: This is the OpenAPI specification for the ClassCharts API used by the ParentClient.
  version: 1.0.0
servers:
  - url: https://www.classcharts.com/apiv2parent
    description: Production API server

paths:
  /pupils:
    get:
      summary: Pupils
      description: Get a list of pupils connected to this parent's account
      responses:
        "200":
          description: Array of pupils
          content:
            application/json:
              schema:
                $ref: "./schemas/getPupilsResponse.yaml"
        "401":
          description: Unauthorized

  /login:
    post:
      summary: Parent Login
      description: >
        Logs into to a parent account.


        This endpoint is used to authenticate a parent account. If the login is successful, a session ID will be returned in the response. This session ID should be used in subsequent requests to authenticate the parent account.

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "./schemas/parentLoginRequest.yaml"
      responses:
        "200":
          description: Successful authentication request (not necessarily successful login)
          content:
            application/json:
              schema:
                $ref: "./schemas/parentLoginResponse.yaml"

  /password:
    post:
      summary: Change Password
      description: Changes the login password for the current parent account
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                current:
                  type: string
                new:
                  type: string
                repeat:
                  type: string
      responses:
        "200":
          description: Password changed
          content:
            application/json:
              schema:
                $ref: "./schemas/changePasswordResponse.yaml"
        "401":
          description: Unauthorized

components:
  schemas:
    GetPupilsResponse:
      $ref: "./schemas/getPupilsResponse.yaml"
    ChangePasswordResponse:
      $ref: "./schemas/changePasswordResponse.yaml"
