openapi: 3.0.1
info:
  title: Student Client API
  description: This is the OpenAPI specification for the ClassCharts API used by the StudentClient.
  version: 28.7.1
servers:
  - url: https://www.classcharts.com/apiv2student
    description: Student API

components:
  securitySchemes:
    basic_auth:
      $ref: "./schemas/auth/basic_auth.yaml#/basic_auth"

paths:
  /ping:
    post:
      operationId: ping
      summary: Student Ping
      description: >
        Gets basic information about the logged in student and what access they have.  

        This endpoint is also used for revalidating your session id (authentication token).
      security:
        - basic_auth: []

      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "./schemas/auth/ping_request.yaml"
      responses:
        "200":
          description: Student information & session_id (if requested)
          content:
            application/json:
              schema:
                $ref: "./schemas/auth/student_ping_response.yaml"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "./schemas/_common/error_response.yaml"
      x-codeSamples:
        - lang: js
          label: JavaScript SDK
          source: |
            import { StudentClient } from "classcharts-api";

            const client = new StudentClient("ABC123", "01/01/2000");
            await client.login();

            await client.getStudentInfo();

  /login:
    post:
      operationId: login
      summary: Student Login
      description: Logs in a student.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "./schemas/auth/student_login_request.yaml"
      responses:
        "200":
          description: Successful authentication request (not necessarily successful login)
          content:
            application/json:
              schema:
                $ref: "./schemas/auth/student_login_response.yaml"
      x-codeSamples:
        - lang: js
          label: JavaScript SDK
          source: |
            import { StudentClient } from "classcharts-api";

            const client = new StudentClient("ABC123", "01/01/2000");
            await client.login();

  /rewards/{studentId}:
    get:
      operationId: list-rewards
      summary: List Rewards
      description: Gets the available items in the student's rewards shop.
      security:
        - basic_auth: []
      parameters:
        - name: studentId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Array of rewards
          content:
            application/json:
              schema:
                $ref: "./schemas/reward/rewards_response.yaml"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "./schemas/_common/error_response.yaml"
      x-codeSamples:
        - lang: js
          label: JavaScript SDK
          source: |
            import { StudentClient } from "classcharts-api";

            const client = new StudentClient("ABC123", "01/01/2000");
            await client.login();

            await client.getRewards();

  /purchase/{itemId}:
    post:
      operationId: purchase-reward
      summary: Purchase Reward
      description: Purchase a reward item from the student's rewards shop.
      security:
        - basic_auth: []
      parameters:
        - name: itemId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                pupil_id:
                  type: integer
      responses:
        "200":
          description: Reward purchased
          content:
            application/json:
              schema:
                $ref: "./schemas/reward/reward_purchase_response.yaml"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "./schemas/_common/error_response.yaml"
      x-codeSamples:
        - lang: js
          label: JavaScript SDK
          source: |
            import { StudentClient } from "classcharts-api";

            const client = new StudentClient("ABC123", "01/01/2000");
            await client.login();

            await client.purchaseReward(123);

  /homeworkticked/{homeworkStatusId}:
    get:
      operationId: tick-homework
      summary: Tick Homework
      description: Toggle the status of a homework item to 'completed'.
      security:
        - basic_auth: []

      parameters:
        - name: studentId
          in: query
          required: true
          schema:
            type: integer
        - name: homeworkStatusId
          in: path
          required: true
          description: The ID of the `homework.status` to mark as completed
          schema:
            type: string

      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "./schemas/_common/empty_response.yaml"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "./schemas/_common/error_response.yaml"

  /getcode:
    post:
      operationId: get-student-code
      summary: Get Student Code
      description: Gets the student's student code
      security:
        - basic_auth: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "./schemas/account/get_student_code_request.yaml"
      responses:
        "200":
          description: Student code
          content:
            application/json:
              schema:
                $ref: "./schemas/account/get_student_code_response.yaml"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "./schemas/_common/error_response.yaml"
      x-codeSamples:
        - lang: js
          label: JavaScript SDK
          source: |
            import { StudentClient } from "classcharts-api";

            const client = new StudentClient("ABC123", "01/01/2000");
            await client.login();

            await client.getStudentCode({
              dateOfBirth: "01-01-2000"
            });
