openapi: 3.0.1
info:
  title: Student Client API
  description: This is the OpenAPI specification for the ClassCharts API used by the StudentClient.
  version: 1.0.0
servers:
  - url: https://www.classcharts.com/apiv2student
    description: Production API server

paths:
  /login:
    post:
      summary: Student Login
      description: Logs in a student.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "./schemas/studentLoginRequest.yaml"
      responses:
        "200":
          description: Successful authentication request (not necessarily successful login)
          content:
            application/json:
              schema:
                $ref: "./schemas/studentLoginResponse.yaml"

  /rewards/{studentId}:
    get:
      summary: Rewards
      description: Gets the available items in the student's rewards shop.
      parameters:
        - name: studentId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Array of rewards
          content:
            application/json:
              schema:
                $ref: "./schemas/rewardsResponse.yaml"
        "401":
          description: Unauthorized

  /purchase/{itemId}:
    post:
      summary: Purchase reward
      description: Purchase a reward item from the student's rewards shop.
      parameters:
        - name: itemId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                pupil_id:
                  type: integer
      responses:
        "200":
          description: Reward purchased
          content:
            application/json:
              schema:
                $ref: "./schemas/rewardPurchaseResponse.yaml"
        "401":
          description: Unauthorized

  /getcode:
    post:
      summary: Student code
      description: Gets the student's student code
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./schemas/getStudentCodeRequest.yaml"
      responses:
        "200":
          description: Student code
          content:
            application/json:
              schema:
                $ref: "./schemas/getStudentCodeResponse.yaml"
        "401":
          description: Unauthorized

components:
  schemas:
    RewardsResponse:
      $ref: "./schemas/rewardsResponse.yaml"
    Reward:
      $ref: "./schemas/reward.yaml"
    RewardPurchaseResponse:
      $ref: "./schemas/rewardPurchaseResponse.yaml"
    GetStudentCodeResponse:
      $ref: "./schemas/getStudentCodeResponse.yaml"
