openapi: 3.0.1
info:
  title: Student Client API
  description: This is the OpenAPI specification for the ClassCharts API used by the StudentClient.
  version: 28.7.1
servers:
  - url: https://www.classcharts.com/apiv2student
    description: Student API

paths:
  /ping:
    post:
      summary: Student Ping
      description: >
        Gets basic information about the logged in student and what access they have.  
        This endpoint is also used for revalidating your session id (authentication token).

        To get your new authentication token, call the endpoint, and use the token in the returned body (`body.meta.session_id`) as your new authentication token.


        Access tokens should be refreshed every 180 seconds.

      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "./schemas/pingRequest.yaml"
      responses:
        "200":
          description: Student information & session_id (if requested)
          content:
            application/json:
              schema:
                $ref: "./schemas/studentPingResponse.yaml"
        "401":
          description: Unauthorized

  /login:
    post:
      summary: Student Login
      description: Logs in a student.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "./schemas/studentLoginRequest.yaml"
      responses:
        "200":
          description: Successful authentication request (not necessarily successful login)
          content:
            application/json:
              schema:
                $ref: "./schemas/studentLoginResponse.yaml"

  /rewards/{studentId}:
    get:
      summary: Rewards
      description: Gets the available items in the student's rewards shop.
      parameters:
        - name: studentId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Array of rewards
          content:
            application/json:
              schema:
                $ref: "./schemas/rewardsResponse.yaml"
        "401":
          description: Unauthorized

  /purchase/{itemId}:
    post:
      summary: Purchase reward
      description: Purchase a reward item from the student's rewards shop.
      parameters:
        - name: itemId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                pupil_id:
                  type: integer
      responses:
        "200":
          description: Reward purchased
          content:
            application/json:
              schema:
                $ref: "./schemas/rewardPurchaseResponse.yaml"
        "401":
          description: Unauthorized

  /getcode:
    post:
      summary: Student code
      description: Gets the student's student code
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./schemas/getStudentCodeRequest.yaml"
      responses:
        "200":
          description: Student code
          content:
            application/json:
              schema:
                $ref: "./schemas/getStudentCodeResponse.yaml"
        "401":
          description: Unauthorized
