@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

@source '../node_modules/fumadocs-openapi/dist/**/*.js';

:root {
	--fd-layout-width: 1400px;
	--color-fd-primary: oklch(62.3% 0.214 259.815);
}

.dark {
	--color-fd-primary: oklch(70.7% 0.165 254.624);
}
